<form #searchForm="ngForm" (ngSubmit)="updateFilter(searchForm)">
    <mat-card class="card-demo">
        <mat-card-title>시간표 자동생성</mat-card-title>
        <mat-card-subtitle>강의를 선택하고 제한조건을 입력하십시오.</mat-card-subtitle>

        <mat-card-content class="large">
            <div fxLayout="column" fxFill>
                <div fxLayout fxFlex>
                    <div class="one" fxFlex="90" fxLayoutAlign="left center">
                        <mat-select placeholder="대학교" [(ngModel)]="filter.univ_idx" name="univ_idx" (change)="getSubjectList()" style="width:200px"
                            required>
                            <mat-option *ngFor="let univ of univList" [value]="univ.univ_idx">{{univ.univ_name}}</mat-option>
                        </mat-select>
                        <mat-select placeholder="강의내역" [(ngModel)]="filter.subjectList" name="subject" (change)="checkSubject($event.value)" multiple
                            style="width:200px" required>
                            <mat-option *ngFor="let subject of subjectList" [value]="subject">
                                {{subject.subject_name}} ({{subject.grade}}학점)

                            </mat-option>
                        </mat-select>
                        <mat-select placeholder="요일제외" [(ngModel)]="filter.week" name="week" multiple style="width:200px">
                            <mat-option *ngFor="let week of weekArray" [value]="week.key">{{week.value}}</mat-option>
                        </mat-select>
                        <mat-select placeholder="교시제외" [(ngModel)]="filter.period" name="week" multiple style="width:200px">
                            <mat-option *ngFor="let period of periodArray" [value]="period.key">{{period.value}}</mat-option>
                        </mat-select>
                        <button mat-raised-button color="primary" style="margin-left:10px" (click)='searchForm.ngSubmit.emit()'>검색</button>

                        <span style="margin-left:20px">
                            선택된 학점 :
                            <span>{{ selectGrade }}점</span>
                        </span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>

<mat-card class="example-card" *ngFor="let info of timetableList">    
    <mat-card-content>
        <table>
            <thead>
                <td></td>
                <td>월요일</td>
                <td>화요일</td>
                <td>수요일</td>
                <td>목요일</td>
                <td>금요일</td>
            </thead>

            <tr *ngFor="let height of timeBlock.height; let i = index">
                <td>{{ height }}</td>
                <td *ngFor="let width of timeBlock.width">
                    <span *ngIf="info[width][height]!=undefined">
                        {{info[width][height]['subject_name'] }}
                    </span>
                    <span *ngIf="info[width][height]==undefined">&nbsp;</span>
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="onChoice()">선택</button>        
        <button mat-button color="" (click)="onDelete(i)">삭제</button>        
    </mat-card-actions>
</mat-card>
